@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Nosifer&family=Playpen+Sans:wght@300&family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    /* min-height: 200vh;  */
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    font-family: Playpen Sans, sans-serif;
}
header.sticky{
    padding: 30px 100px;
    background-color: rgba(0, 0, 0, .9);
}
header .logo{
    position: relative;
    color: #CEC89F;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 0.6s;   
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #CEC89F;
    letter-spacing: 2px;
    font-weight: 700px;
    transition: 0.5s;
    padding-left: 20px; 
    padding-right: 20px; 
}
.banner{
    position: relative;
    width: 70%;
    height:1vh;
    background-size: cover;
    background-position: center;
}
header.sticky .logo,
header.sticky ul li a{
    color: #CEC89F;
    padding: 30px;
}
.fixedlogo p a{
    position: relative;
    color: #CEC89F;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 0.6s;   
    font-family: 'caveat', cursive;
    padding-left: 5%;
    text-decoration: none;
}
.center p{
    color: #CEC89F;
    font-family: nosifer;
    align-items: center;
    font-size: 70px;
    /* padding: 4% 0% 0% 5%; */
}
.center .line1{
    position: relative;
    padding-left: 20%;
    padding-top: 5%;
}
.center .line2{
    position: relative;
    padding-left: 12%;
}
.center .line3{
    position: relative;
    padding-left: 25%;
}
.about{
    padding: 150px;
}
.about a{
    position: relative;
    /* padding: 5% 0% 0% 5%; */
    color: #CEC89F;
    font-family:caveat, cursive;
    font-size: 4em;
}
.about p{
    font-family: indie flower, cursive;
    color: #CEC89F;
    padding: 2em 0 0 0;
    font-size: 2em;
    align-items: left;
}
.about img{
    align-items: right;
    size: 200px;
}
footer{
    align-items: center;
    padding: 20px 40px 20px 40px;
    background-color: #CEC89F;
}
footer p{
    align-items: center;
    color: #000;
    font-family: playpen sans;
}

.community{
    padding-left: 150px;
    padding-top:60px;
}
.community a{
    position: relative;
    /* padding: 5% 0% 0% 5%; */
    color: #CEC89F;
    font-family:caveat, cursive;
    font-size: 4em;
}
.community p{
    font-family: indie flower, cursive;
    color: #CEC89F;
    padding: 1em;
    font-size: 2em;
    align-items: left;
}