@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    min-height: 200vh; 
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    font-family: Playpen Sans, sans-serif;
}
header.sticky{
    padding: 30px 100px;
    background-color: white;
}
header .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 0.6s;   
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;
    padding-left: 20px; 
    padding-right: 20px; 
}
.banner{
    position: relative;
    width: 70%;
    height:90vh;
    background: url(static/logo2.jpeg);
    background-size: cover;
    background-position: center;
}
header.sticky .logo,
header.sticky ul li a{
    color: #000;
    padding: 30px;
}