@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Nosifer&family=Playpen+Sans:wght@300&family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    /* min-height: 200vh;  */
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    font-family: Playpen Sans, sans-serif;
}
header.sticky{
    padding: 30px 100px;
    background-color: rgba(0, 0, 0, .8);
}
header .logo{
    position: relative;
    color: #CEC89F;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 0.6s;   
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #CEC89F;
    letter-spacing: 2px;
    font-weight: 700px;
    transition: 0.5s;
    padding-left: 20px; 
    padding-right: 20px; 
}
.banner{
    position: relative;
    width: 70%;
    height:1vh;
    background-size: cover;
    background-position: center;
}
header.sticky .logo,
header.sticky ul li a{
    color: #CEC89F;
    padding: 30px;
}
.fixedlogo p a{
    position: relative;
    color: #CEC89F;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 0.6s;   
    font-family: 'caveat', cursive;
    padding-left: 5%;
    text-decoration: none;
}
li:hover{
    font-weight: bolder;
}
.center p{
    color: #CEC89F;
    font-family: nosifer;
    align-items: center;
    font-size: 70px;
    /* padding: 4% 0% 0% 5%; */
}
.center .line1{
    position: relative;
    padding-left: 20%;
    padding-top: 5%;
}
.center .line2{
    position: relative;
    padding-left: 12%;
}
.center .line3{
    position: relative;
    padding-left: 25%;
}
.about{
    padding: 150px;
}
.about a{
    position: relative;
    /* padding: 5% 0% 0% 5%; */
    color: #CEC89F;
    font-family:caveat, cursive;
    font-size: 4em;
}
.about p{
    font-family: indie flower, cursive;
    color: #CEC89F;
    padding: 2em 0 0 0;
    font-size: 2em;
    align-items: left;
}
.about img{
    align-items: right;
    size: 200px;
}
footer{
    align-items: center;
    align-self: center;
    align-content: center;
    padding: 20px 40px 20px 40px;
    background-color: #CEC89F;
}
footer p{
    align-items: center;
    align-self: center;
    align-content: center;
    color: #000;
    font-family: playpen sans;
}

.community{
    padding-left: 150px;
    padding-top:60px;
}
.community a{
    position: relative;
    /* padding: 5% 0% 0% 5%; */
    color: #CEC89F;
    font-family:caveat, cursive;
    font-size: 4em;
}
.community p{
    font-family: indie flower, cursive;
    color: #CEC89F;
    padding: 1em;
    font-size: 2em;
    align-items: left;
}
.team{
    color: #CEC89F;
    font-family: playpen sans;
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: radial-gradient(#CEC89F, #000); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.team-content{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    /* margin-top: 4em; */
}
.team-content img{
    /* width: 100%;
    height: 100%; */
    /* margin-top: 1em; */
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #CEC89F;
    margin-bottom: 10px;
    transition: 0.3s;
}
.team-content img:hover{
    transform: scale(1.1);
}
.center h1{
    color: #CEC89F;
    font-size: 4em;
    text-align: center;
    font-family: caveat, cursive;
}
.box{
    padding: 16px;
    margin: 20px;
    background:#000;
    border-radius: 15px;
    transition: all .4s ease;
}
.box h3{
    font-size: 25px;
    color: #CEC89F;
    font-weight: 600;
    margin: 8px auto;
}
.box h5{
    font-size: 15px;
    color: #CEC89F;
    font-weight: 600;
    margin-bottom: 8px;   
}
.icons i{
    display: inline-block;
    font-size: 20px;
    color: #CEC89F;
    margin: 0 8px;
    transition: all .4s ease;
}
.icons i:hover{
    color: #CEC89F;
    transform: scale(1.4);
}
.box:hover{
    background: rgba(206, 200, 159, .5);
}
@media (min-width:1240px) {
    .team{
        width:80%;
        height:auto;
        padding: 90px 2%;
    }
   
    .center h1{
        font-size: 2em;
    }
}
@media (max-width: 900px) {
    .team{
        width:50%;
        height:auto;
        padding: 50px 2%;
    }
    .center h1{
        font-size: 1em;
    }
    
}